body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login,
.signup {
  width: 400px;
  margin: 100px auto;
  background: #2b2b2b;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 255, 127, 0.5);
  text-align: center;
  border: 2px solid #00ff99; 
}

h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #00ff99;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 8px;
  background: #1e1e1e;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #00ff99;
  box-shadow: 0 0 5px #00ff99;
}

button {
  background: #00ff99;
  color: #000;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00cc7a;
}

p {
  margin-top: 15px;
  color: #ccc;
}

a {
  color: #00ff99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
